<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>toodoo</title>
	<link rel="stylesheet" href="../../static/main.css">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">



</head>
<body>
	<header id="toodoo_header">
		<div class="header_wrapper">
			<div class="logo_wrapper">
				<a href="{% url 'index' %}">
				<img src="media/images/toodoo_logo_white.png"
					 alt="logo"
					 id="logo">
				</a>
			</div>

			<div class="signout_wrapper">
				<a href="{% url 'logout' %}" id="signout">Sign out</a>
			</div>
		</div>
	</header>

	<div class="todo_body">
		<div class="all_tasks">
			{% for group in groups %}
						<div class="group">
			<div class="grouping">
				<button class="btn list group" aria-label="open group">></button>
				<h2 class="task_list_title">{{ group.title }}</h2>
			</div>

							{% for list in lists %}
							{% if list.whichGroup == group %}
			<ul class="task_list">
				<li><a href="#">{{ list }}</a></li>
			</ul>
							{% endif %}
							{% endfor %}
			<form class="add_new_list" method="POST"
				  action="{% url 'add_new_list' group.pk %}">
				{% csrf_token %}
				{{ listForm }}
				<input class="btn list" aria-label="create new list" type="submit"
						name="addlist">+
				</input>
			</form>
						</div>
			{% endfor %}

			<form class="add_new_group" method="POST">
				{% csrf_token %}
				{{ groupForm }}
				<input class="btn list" aria-label="create new group" type="submit"
						name="addgroup">+
					</input>
			</form>
		</div>

		<div class="todo_list">
			<div class="todo_header">
				<h2 class="list_title">List Name</h2>
				<p class="task_count">3 tasks remaining</p>
			</div>

			<div class="todo_tasklist">

				{% for task in tasks %}
				<!-------------------------- task 1 -------------------------->
				<div class="tasks">
					<div class="task">
						<input type="checkbox" id="task-1">
						<label for="task-1">
							<span class="custom_checkbox"></span>{{ task }}</label>
					</div>
				</div>
				{% endfor %}

				<div class="new-task-creator">

					<form action="" method="POST">
						{% csrf_token %}
						{{ itemForm }}
						<input class="btn item" type="submit"
								aria-label="create new item" name="additem">+
						</input>
					</form>

				</div>

				<div class="delete_stuff">
					<button class="btn delete">Clear completed tasks</button>
					<button class="btn delete">Delete list</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>